<!-- Modal -->
<div class="modal-overlay" *ngIf="isOpen" (click)="close()"></div>

<div class="modal-content" *ngIf="isOpen">
  <div class="modal-header">
    <h2>Agregar producto a la factura</h2>
    <button class="close-button" (click)="close()">x</button>
  </div>

  <div class="modal-body">
    <!-- Primer div: Input de búsqueda y botón -->
    <div class="search-bar">
      <input class="input-search" type="text" placeholder="Buscar producto...">
      <button class="btn-search">Buscar</button>
    </div>

    <!-- Segundo div: Tabla de productos -->
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Código</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Agregar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detalle of detalles">
            <td>{{ detalle.Producto?.CodigoProducto }}</td>
            <td>{{ detalle.Producto?.NombreProducto }}</td>
            <td>
              <input type="number" min="1" value="1" [(ngModel)]="detalle.Cantidad" class="form-control form-control-sm">
            </td>
            <td>{{ detalle.Producto?.PrecioProducto }}</td>
            <td>
              <button class="add-button" (click)="addProductToInvoice(detalle)">Agregar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Tercer div: Botón de cerrar -->
  <div class="modal-footer">
    <button class="footer-close-button" (click)="close()">Cerrar</button>
  </div>
</div>


