<div class="invoice-container">
  <!-- Header -->
    <div class="header">
      <h2>Nueva factura</h2>
      <div class="button-row">
        <button class="add-invoice-button" type="submit" (click)="handleSave()">Guardar factura</button>
        <!-- <button class="add-invoice-button" type="submit" [disabled]="invoiceForm.invalid" (click)="handleSave()">Guardar factura</button> -->
      </div>
    </div>

  <!-- Body -->
  <div class="body">
    <form [formGroup]="invoiceForm">
      <!-- Primera fila -->
      <div class="form-row">

        <label for="cliente">Cliente:</label>
        <input type="text" list="clientes" id="cliente" required (change)="selectedClient($event)" (input)="selectedClient($event)" />
        <datalist id="clientes">
          <option *ngFor="let cliente of clientes" [value]="cliente.NombreCliente"></option>
        </datalist>

        <label for="telefono">Teléfono</label>
        <input type="text" id="telefono" name="telefono" [(ngModel)]="phoneNumberInput" disabled>

        <label for="email">Email</label>
        <input type="text" id="email" name="email" [(ngModel)]="mailInput" disabled>

        <label for="vendedor">Vendedor</label>
        <input type="text" list="vendedores" id="vendedor" (change)="selectedSeller($event)" (input)="selectedSeller($event)" />
        <datalist id="vendedores">
          <option *ngFor="let vendedor of vendedores" [value]="vendedor.Nombre"></option>
        </datalist>

        <label for="fecha">Fecha</label>
        <!-- <input type="date" id="fecha" name="fecha" value="{{ todayDate | date:'fullDate' }}" disabled /> -->
        <input type="datetime-local" id="fecha" name="fecha" value="{{ currentDate }}" disabled />
        <!-- <input type="datetime-local" id="fecha" name="fecha" value="{{ currentDate | date:'fullDate' }}" disabled /> -->
        

        <label for="forma-pago">Forma de pago</label>
        <select id="forma-pago" name="forma-pago" (change)="selectedMethodPayment($event)">
          <option value="efectivo">Efectivo</option>
          <option value="debito">Débito</option>
          <option value="credito">Crédito</option>
        </select>
      </div>
    </form>

    <!-- Segunda fila -->
    <div class="button-row">
      <button class="add-product-button" (click)="openModal()">Agregar productos</button>
    </div>



    <!-- Tercera fila -->
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Código</th>
            <th>Nombre del producto</th>
            <th>Cantidad</th>
            <th>Precio Unit.</th>
            <th>Total</th>
            <th>
          </tr>
        </thead>
        <tbody>
          <!-- Aquí irían las filas de productos -->
          <tr class="trow-data" *ngFor="let detalle of detalles; let i = index">
            <td>{{ detalles[i].IdDetalleFactura! + 1 }}</td>
            <td>{{ detalles[i].Producto?.NombreProducto}}</td>
            <!-- <td>{{ detalles[i].Producto?.IdProducto}}</td> -->
            <td>{{ detalles[i].Cantidad}}</td>
            <td>{{ detalles[i].PrecioUnitario | currency }}</td>
            <td>{{ detalles[i].Total | currency }}</td>
            <td>
                <button class="btn-action btn-red" (click)="substractProductToInvoice(detalle)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="spacing-container">
      <span class="total-label">Total:</span>
      <span class="total-value">{{ totalInvoice | currency }}</span>
    </div>
  </div>
</div>

<!-- Modal Component -->
<app-AddInvoiceDetailModal 
    *ngIf="isModalOpen"
    [isOpen]="isModalOpen"
    (detailCreated)="addProductToInvoice($event)"
    (closeModal)="isModalOpen = false">
</app-AddInvoiceDetailModal>



