<div class="modal-overlay" *ngIf="isOpen" (click)="close()"></div>

<div class="modal-content" *ngIf="isOpen">
  <div class="modal-header">
    <h2>{{ isEditMode ? 'Editar usuario' : 'Agregar usuario' }}</h2>
    <button class="close-button" (click)="close()">X</button>
  </div>
  
  <form [formGroup]="userForm" (ngSubmit)="save()">
    <div class="form-group">
      <label for="Nombre">Nombre</label>
      <input id="Nombre" formControlName="Nombre" type="text">
      <div *ngIf="nameFormControl?.invalid && nameFormControl?.touched">
        <small *ngIf="nameFormControl.errors?.['required']">El nombre es requerido.</small>
        <small *ngIf="nameFormControl.errors?.['minlength']">El nombre debe tener al menos 4 caracteres.</small>
      </div>
    </div>

    <div class="form-group">
      <label for="NombreUsuario">Nombre de usuario</label>
      <input id="NombreUsuario" formControlName="NombreUsuario" type="text">
      <div *ngIf="usernameFormControl?.invalid && usernameFormControl?.touched">
        <small *ngIf="usernameFormControl.errors?.['required']">El nombre de usuario es requerido.</small>
        <small *ngIf="usernameFormControl.errors?.['minlength']">El nombre de usuario debe tener al menos 5 caracteres.</small>
      </div>
    </div>

    <div class="form-group">
      <label for="ClaveUsuario">Clave</label>
      <input id="ClaveUsuario" formControlName="ClaveUsuario" type="text">
      <div *ngIf="passwordFormControl?.invalid && passwordFormControl?.touched">
        <small *ngIf="passwordFormControl.errors?.['required']">La clave es requerida.</small>
        <small *ngIf="passwordFormControl.errors?.['minlength']">La clave debe tener al menos 5 caracteres.</small>
      </div>
    </div>

    <div class="form-group">
      <label for="TipoUsuario">Tipo de Usuario</label>
      <!-- <input id="TipoUsuario" formControlName="TipoUsuario" type="text"> -->
      <select name="TipoUsuario" id="TipoUsuario" formControlName="TipoUsuario">
        <!-- <option *ngFor="let type of userTypes | keyvalue" [value]="type.key">{{ type.value| keyvalue }}</option> -->
        <!-- <option *ngFor="let type of userTypes | keyvalue" [value]="type.key">{{ type.value }}</option> -->
        <!-- <option *ngFor="let type of userTypes | keyvalue" [value]="type.key">{{ type.value }}</option> -->
        <!-- <option *ngFor="let type of userTypes" [value]="type">{{ type }}</option> -->
        <option *ngFor="let type of userTypes" [value]="type">{{ type | UserType }}</option>
      </select>
      <div *ngIf="userTypeFormControl?.invalid && userTypeFormControl?.touched">
        <small *ngIf="userTypeFormControl.errors?.['required']">El tipo de usuario es requerido.</small>
      </div>
    </div>

    <div class="button-group">
      <button type="button" (click)="close()">Cerrar</button>
      <button type="submit" [disabled]="userForm.invalid">Guardar</button>
    </div>
  </form>
</div>
